.hidden {
  display: none !important;
}

.modalContent {
  font-family: "Poppins", sans-serif !important;
  color: white;
}

.loginForm h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
  color: white;
}

.loginForm p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 8px;
}

.loginForm h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  padding-bottom: 24px !important;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputWrapper label {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: normal;
}

.inputField,
.lastinputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.inputField label,
.lastinputField label {
  font-size: 18px;
  line-height: 28px;
  color: white;
}

#inputError,
#inputErrorFirstName,
#inputErrorLastName,
#inputErrorEmail,
#inputErrorSecondary {
  color: #b91c1c;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  word-break: break-word;
  font-family: 'Poppins', sans-serif !important;
}

/* Add to your existing <style> tag */
#signUpButton:disabled,
.cta-button:disabled,
#continueButton:disabled {
  border: 1px solid #4b5563 !important;
  color: #4b5563 !important;
  cursor: not-allowed !important;
}

#signUpButton:hover,
.cta-button:hover,
#continueButton:hover {
  color: black;
  border: 1px solid black;
}

.cta-button,
#signUpButton,
#continueButton {
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, cursor 0.3s ease;
  background-color: transparent;
  padding: 8px 24px;
  border: 1px solid white;
  border-radius: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

#signUpButton {
  margin-top: 0 !important;
}

#emailInput,
#loginInput,
#secondaryContactInputEmail,
#secondaryContactInputPhone {
  width: 100%;
}

#nameInput {
  width: 50%;
}

#firstNameInput,
#lastNameInput,
#emailInput,
#loginInput,
#secondaryContactInputEmail,
#secondaryContactInputPhone {
  padding: 12px 16px;
  border-radius: 12px !important;
  border: 2px solid #d1d5db;
  color: #007fa7;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

#firstNameInput,
#lastNameInput {
  padding: 12px 16px;
  width: 100%;
}

.signupotpInputBox,
.otpInputBox,
.secondaryotpInputBox {
  width: 64px;
  height: 55px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent !important;
  color: white !important;
  outline: none;
  font-family: 'Poppins', sans-serif !important;
}

#otpErrorMessage{
  font-family: 'Poppins', sans-serif !important;
}

#addButton {
  margin: 0 auto;
  padding: 8px 24px;
  border-radius: 50px;
  background: white;
  color: #00b5ef;
  border: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

#addButton:disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}

#skipButton {
  margin: 0 auto;
  border-radius: 50px;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 24px;
  font-weight: 600;
  margin-left: 24px;
  font-size: 16px;
}

#secondaryContactLabel {
  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

#secondaryContactMessage {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (min-width: 800px) {
  #inputError,
  #inputErrorFirstName,
  #inputErrorLastName,
  #inputErrorEmail,
  #inputErrorSecondary {
    min-height: 48px !important;
  }
}

@media (max-width: 767px) {
  .otpInputBox {
    width: 40px !important;
  }

  .otpHeader {
    gap: 8px !important;
  }

  #otpWrapper {
    margin-left: 30px !important;
  }

  .loginForm h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: white;
  }

  .form-row {
    display: flex;
    flex-direction: column !important;
    gap: 24px !important;
    width: 100%;
  }

  .form-row .inputField {
    width: 100% !important;
  }

  .form-row .lastinputField {
    width: 100% !important;
  }

  #secondaryContactMessage {
    font-size: 24px;
  }

  #secondaryContactLabel {
    font-size: 20px;
  }

  #skipButton {
    margin-left: 14px;
    padding: 6px 18px;
    font-size: 14px;
  }

  #addButton {
    padding: 6px 18px;
    font-size: 14px;
  }
}

.otpErrorMessage {
  order: 1;
}

.button-loading {
  animation: pulseBg 1s infinite;
  cursor: not-allowed !important;
  opacity: 0.6;
}

@keyframes pulseBg {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* ---SIGN UP- */

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.form-row .inputField {
  width: 50%;
}

.form-row .lastinputField {
  width: 50%;
}

/* ---------Resend OTP animation--------- */
.link-loading {
  animation: pulseBg 1s infinite;
  opacity: 0.6;
  cursor: not-allowed !important;
  color: #cccccc !important;
}

.link-loading:hover {
  cursor: not-allowed !important;
}

@keyframes pulseBg {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.4);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}

.blink {
  animation: pulseBg 0.5s linear infinite;
}
